<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} // nomadaxe.com</title>
  <meta name="description" content="{{ page.description }} {{ page.summary }}" />
  <meta name="author" content="{{ page.author }}" />
  <meta name="keywords" content="{{ page.tags }}" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

  <link type="text/css" rel="stylesheet" href="/stylesheets/css/default.css">
  <link rel="shortcut icon" href="/images/favicon.ico">

</head>

<body>
  <header>
    <a href='/' id='motto' class='group'>NOMADAXE.COM</a>
    <a href='/play' id='play-button' class='group'>Play the Game!</a>

  </header>
  {{{ yield }}}
</body>
</html>
