/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px) {
  body header {
    margin-top: -50px;
    position: relative;
    width: 100%;
    background-color: #086CA2;
    box-shadow: 1px 1px 2px;
  }
  body header .motto {
    padding-top: 15px;
    font-family: Georgia, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: black;
    font-size: 2.3em;
  }
  body header .play-button {
    height: 20px;
    width: 50px;
    background-color: red;
    border: 1px solid magenta;
  }
  body header .play-button p {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: white;
  }
}
/*---------------Mobile Landscape Width: 480px---------------*/
@media screen and (min-width: 480px) {
  body header .motto {
    font-size: 3.2em;
  }
}
/*---------------Tablet Portrait Width: 768px---------------*/
@media screen and (min-width: 768px) {
  body header #container {
    width: 700px;
  }
  body header #container .motto {
    font-size: 5.3em;
    float: left;
  }
  body header #container .play-button {
    float: right;
  }
}
/*---------------Tablet Landscape Width: 1024px---------------*/
@media screen and (min-width: 1024px) {
  body header #container {
    width: 960px;
  }
  body header #container .motto {
    font-size: 7.5em;
  }
}
/*---------------Desktop Width: 1200px---------------*/
body nav ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px) {
  body {
    background-color: #235B79;
    margin: auto;
    width: 100%;
    background-attachment: fixed;
    font-family: Georgia, sans-serif;
  }
  body .group:after {
    content: "";
    display: table;
    clear: both;
  }
  body .stuck_js {
    position: fixed;
    top: 0px;
  }
  body .postTitle {
    font-family: 'Fjalla One', sans-serif;
    font-size: 22px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    font-weight: bolder;
  }
  body .postPublished {
    font-family: 'Fjalla One', sans-serif;
    font-size: 10px;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 0px;
    font-weight: bolder;
  }
  body .postAuthor {
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 0px;
    font-weight: bolder;
  }
  body .postTitleLink {
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
    color: black;
  }
  body .postread {
    font-weight: bold;
    color: black;
    text-align: right;
  }
  body #disqus_thread {
    width: 90%;
    max-width: 990px;
    padding: 3%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px;
    background-color: white;
  }
  body .vid_container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56%;
  }
  body .vid_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/*---------------Mobile Landscape Width: 480px---------------*/
/*---------------Tablet Portrait Width: 768px---------------*/
@media screen and (min-width: 768px) {
  body .postTitle {
    font-size: 30px;
  }
  body .postPublished {
    font-size: 15px;
  }
  body .postAuthor {
    font-size: 20px;
  }
}
/*---------------Tablet Landscape Width: 1024px---------------*/
@media screen and (min-width: 1024px) {
  body .postTitle {
    font-size: 35px;
  }
}
/*---------------Desktop Width: 1200px---------------*/
/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px) {
  body .articles {
    height: auto;
    width: 90%;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px;
    background-color: snow;
    margin: auto;
    margin-top: 5px;
    padding: 3%;
  }
  body .articles .articleSection {
    border: 1px solid transparent;
    margin: 1px;
  }
  body .articles .slugline {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
  }
  body .articles .sluglineCenter {
    font-family: 'Fjalla One', sans-serif;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
  }
  body .articles .sluglineLeft {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    float: left;
    clear: both;
  }
  body .articles blockquote {
    position: relative;
    width: 96%;
    margin: 5px auto;
    border: 1px solid black;
    font-family: Times;
    background-color: white;
    padding: 15px;
  }
  body .articles .articlesImgCenter {
    width: 100%;
    margin: auto;
    position: relative;
    padding: 10px 0px;
  }
  body .articles .articlesImgLeft {
    width: 100%;
    margin: auto;
    position: relative;
  }
  body .articles .articlesImgRight {
    width: 100%;
    margin: auto;
    position: relative;
  }
  body .articles h4, body .articles h3, body .articles h1 {
    font-family: helvetica;
  }
  body .articles ul li {
    font-size: 1em;
  }
  body .articles ul li a {
    font-weight: bold;
    color: blue;
  }
}
/*---------------Mobile Landscape Width: 480px---------------*/
/*---------------Tablet Portrait Width: 768px---------------*/
@media screen and (min-width: 768px) {
  body .articles {
    max-width: 990px;
  }
  body .articles .articlesImgLeft {
    display: inline-block;
    width: 40%;
    float: left;
    position: relative;
    padding: 5px 10px 5px 0px;
  }
  body .articles .articlesImgRight {
    width: 40%;
    float: right;
    position: relative;
    padding: 5px 0px 5px 10px;
  }
}
/*---------------Tablet Landscape Width: 1024px---------------*/
/*---------------Desktop Width: 1200px---------------*/
/*---------------Mobile Portrait Width: 320px---------------*/
@media screen and (min-width: 320px) {
  body footer {
    height: 25px;
  }
}
/*---------------Mobile Landscape Width: 480px---------------*/
/*---------------Tablet Portrait Width: 768px---------------*/
/*---------------Tablet Landscape Width: 1024px---------------*/
/*---------------Desktop Width: 1200px---------------*/
